.navbar
{
	float:left;	
	width:120px;
}

.navbar ul
{
	list-style:none;
	background-color:#ffffff;
	height:auto;
	min-height:400px;

	/*height:45px;*/
	width:120px;
	/*width:600px;*/
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;

}

.navbar li
{
	float:left;
	height:45px;
	width:120px;
	text-align:center;
	/*border: 1px solid #ccc;
	border-bottom: 0;*/
	border-bottom: 1px solid #ccc;

}

.navbar a
{
	display:block;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size:12px;
	font-weight:normal;
	margin:10px 5px 5px 5px;
	padding:5px 5px 5px 5px;
	text-decoration:none;
	color:black;
}

.navbar li:hover
{
	background-color:#ccc;
}

.navbar a:hover
{
	color:black;
}

.active
{
	background-color:#777;
}